<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiperCardDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DC4F4EE1F149DA500844BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC4F5021F149DA600844BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC4F50D1F149DA600844BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
